html {
    height: 100%;
    min-width: 300px;
    font-family: "Trebuchet MS";
    font-size: 20px;
}

body {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #d3a01570;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 0 0 auto;
    min-height: 100px;
    font-family: "Marcellus";
    background-color: #f8d348;
    border-bottom: 5px solid #439ac8;
    font-size: 25px;
    top: 0;
}

#logo {
    height: 100px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: grey;
}

main {
    flex: 1 1 100%;
    position: relative;
    overflow-y: auto;
}

.summary, .career {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    padding-bottom: 50px;
}

.summary > section {
    flex-basis: 1 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 30px;
}

.summary > section + section {
    border-top: 5px solid #439ac8;
    margin-top: 20px;
}

.summary__title {
    font-family: "Marcellus";
    font-size: 50px;
}

.summary__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary__image {
    max-width: 90%;
    border: 2px solid black;
}

.social {
    height: 50px;
    /* background-color: #439ac8; */
    background-color: #d13326;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;
    border-top: 5px solid #439ac8;

}

.fa {
    width: 50px;
}

a:visited {
    color: black;
}

a:active {
    color: grey;
}

.active {
    color: grey;
}

section {
    width: auto;
}

.summary__collaboratorList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.summary__collaboratorList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

.summary__collaboratorList > li {
    justify-content: center;
    flex-basis: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 5px;
    max-width: 200px;
}

.summary__collaboratorList > li > img {
    max-width: 100%;
    border: 2px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.collaborator__name {
    background-color: black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    justify-content: center;
    color: white;
    width: 100%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

a:hover {
    color: grey;
}

#logo:hover {
    background-color: grey;
    border-radius: 60px;
}

.active-logo {
    background-color: grey;
    border-radius: 60px;
}

.alias__section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alias__image {
    max-width: 200px;
}

.summary__aliasList {
    text-align: left;
    margin-right: 20px;
}