.news_events_resources{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    height: 100%;
    padding-bottom: 50px;
}

.news_events_resources>section+section {
    border-top: 5px solid #74909f;
    margin-top: 20px;
}

section {
    flex-basis: 1 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news_pics {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.news_images {
    width: 50%;
}
.resources {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
